<h1>Pages#index</h1>
<h4>Estoy generando cambios</h4>  
<h6>Estoy generando cambios</h6>  
<p>Find me in app/views/pages/index.html.erb</p>
<br>
©Copyright <%= Time.now.year %>
<br>
<% if Time.now.year >= 2020 %>
    <p> Versión 2.0 </p>
    <% else %>
    <p> Versión 1.0 </p>
<% end %>